# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\91_Workspace_frontend\15_Udemy_JQuery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
